@font-face {
    font-family: 'Joan';
    src: url('Joan-Regular.woff2') format('woff2'),
        url('Joan-Regular.woff') format('woff'),
        url('Joan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

